# core app dependencies

feedparser
#streamlit
requests
Unidecode

#altair
#asttokens
#attrs
#backcall
#blinker
#Bottleneck
#brotlipy
#cachetools
#certifi==2022.12.7
#cffi
#charset-normalizer
#click
#colorama
#comm
#cryptography
#debugpy
#decorator
#entrypoints
#executing
#feedparser
#fuzzywuzzy
#gitdb
#GitPython
#idna
#ipykernel
#ipython
#ipywidgets
#jedi
#Jinja2
#jsonschema
#jupyter_client
#jupyter_core
#jupyterlab-widgets
#markdown-it-py
#MarkupSafe
#matplotlib-inline
#mdurl
#mkl-service==2.4.0
#nest-asyncio
#numexpr
#numpy
#packaging
#pandas
#parso
#pickleshare
#Pillow==9.4.0
#pkgutil_resolve_name
#platformdirs
#prompt-toolkit
#protobuf==3.20.3
#psutil
#pure-eval
#pyarrow==8.0.0
#pycparser
#pydeck
#Pygments
#Pympler
#pyOpenSSL
#pyrsistent
#PySocks
#python-dateutil
#python-Levenshtein
#pytz
#pytz-deprecation-shim
#PyYAML
#pyzmq
#requests
#rich
#semver
#sgmllib3k
#six
#smmap
#stack-data
#streamlit
#toml
#toolz
#tornado
#traitlets
#typing_extensions
#tzdata
#tzlocal
#Unidecode
#urllib3
#validators
#watchdog
#wcwidth
#widgetsnbextension
#win-inet-pton
#wincertstore==0.2
#zipp

# llama index dependencies

llama-index==0.6.1

#regex
#pydantic
#mypy-extensions
#marshmallow
#greenlet
#typing-inspect
#tiktoken
#SQLAlchemy
#openapi-schema-pydantic
#marshmallow-enum
#aiohttp
#dataclasses_json
#gptcache
langchain==0.0.154
#llama-index

# openai dependencies

openai==0.27.4

#aiosignal
#appdirs
#async-timeout
#cycler
#docker-pycreds
#et_xmlfile
#frozenlist
#joblib
#kiwisolver
#m2w64-gcc-libgfor~ # causes streamlit build error
#m2w64-gcc-libs # causes streamlit build error
#m2w64-gcc-libs-co~ # causes streamlit build error
#m2w64-gmp # causes streamlit build error
#m2w64-libwinpthre~ # causes streamlit build error
#matplotlib-base # causes streamlit build error
#msys2-conda-epoch # causes streamlit build error
#multidict
#openai
#openpyxl
#pandas-stubs
#pathtools
#plotly
#pyparsing
#scikit-learn
#scipy
#sentry-sdk
#setproctitle
#tenacity
#threadpoolctl
#tqdm
#types-pytz
#typing-extensions
#wandb
#yarl 

# streamlit_chat dependencies
streamlit-chat

# nltk dependencies (for llama index keyword table)
nltk
#regex