altair
asttokens
attrs
backcall
blinker
Bottleneck
brotlipy
cachetools
certifi==2022.12.7
cffi
charset-normalizer
click
colorama
comm
cryptography
debugpy
decorator
entrypoints
executing
feedparser
fuzzywuzzy
gitdb
GitPython
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mkl-service==2.4.0
nest-asyncio
numexpr
numpy
packaging
pandas
parso
pickleshare
Pillow==9.4.0
pkgutil_resolve_name
platformdirs
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==8.0.0
pycparser
pydeck
Pygments
Pympler
pyOpenSSL
pyrsistent
PySocks
python-dateutil
python-Levenshtein
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
rich
semver
sgmllib3k
six
smmap
stack-data
streamlit
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
Unidecode
urllib3
validators
watchdog
wcwidth
widgetsnbextension
win-inet-pton
wincertstore==0.2
zipp